[2015-01-14 07:45] bluezheng opened #1 "nginx worker process doesn't exit when nginx reload configuration."
Compiled nginx upstream dynamic servers module with nginx 1.7.7.

When execute command "sudo nginx -s reload", a new worker process started, but existed worker process always show status as "is shutting down" but never exit.

[2015-03-15 06:55] crosbymichael opened #2 "Add support for nginx 1.6.2 stable"
I'm looking into the issue but it seems simple for someone that knows the nginx api.

The error message is from `ngx_http_upstream_server_t` not having a `name` field in 1.6.2

[code]

[2015-06-30 23:42] JonnyBGod opened #3 "resolve SRV records"
Hi,

awesome plugin. This would be perfect if it could resolve SRV records into IP:PORT combinations.
This way it would be a great load balancer for cluster environments such as mesos/marathon.

would you be willing to implement this?

[2015-08-26 15:16] johnpeak opened #4 "Support for NGINX 1.7.10"
Agreed this module works great.  Any chance you'd have time to upgrade to the 1.7.10 version?  Thank you.

[2015-09-04 13:08] k2s commented on #1
this bug makes this otherwise very useful module unusable. is this project still maintained ?

[2015-11-23 21:02] nikolay opened #5 "Typo"
Even the repo name has a typo. On a side note, is the project still active?

[2015-11-23 21:12] GUI commented on #5
Whoops, well that's embarrassing!

![](https://media.giphy.com/media/4pMX5rJ4PYAEM/giphy.gif)

Thanks for spotting that! I've fixed it now.

I'm not actively using this module at the moment, so unfortunately I haven't had time to make any updates (I think there are some compatibility issues with nginx 1.9). But any pull requests are welcome.

[2015-11-23 21:12] #5 closed

[2015-11-23 21:14] GUI commented on #1
Very sorry for the absurdly long delay in following up. I'm unfortunately not using this module at the moment, so I'm afraid I don't have time to look into this, but any pull requests are welcome.

[2015-11-23 21:15] GUI commented on #2
Very sorry for the super-long delay! I was only targeting nginx 1.7 when I first built this, but any pull requests are welcome for older versions.

[2015-11-23 21:16] GUI commented on #4
Apologies for the super-long delay! I'm afraid I'm not actively using this module at the moment so I probably won't have the time to look into this, but any pull requests for compatibility with other nginx versions are welcome.

[2015-11-23 21:17] nikolay commented on #5
@GUI Thanks for the quick response! Nobody is immune from ~~typoes~~ typos!

[2015-11-23 21:18] GUI commented on #3
Sorry for the extremely belated response. I'm not actively using this module right now, but any pull requests to add this kind functionality ware welcome.

[2015-11-23 21:23] johnpeak commented on #4
Hi Nick

Thanks for the response and no worries.  I had to migrate over to using jdomain since this version was giving me segfaults under high load.  My setup can reach up to 800TPS and I noticed it crashing after a day.  Things seem pretty stable now.  I appreciate your work on this.  It certainly helped me evolve my understanding of how to configure this.

thx
john

From: Nick Muerdter
Reply-To:

[2015-11-24 13:07] erickfaustino opened #6 "Segmentation faults"
Hi! First of all, I want to thank you to try to write a nice module, to do things that only the Plus version can do. It`s awesome, and the community always enjoys it. Unfortunately, this module isnt working well. :(
After compile the right version (1.7.7), I still getting some errors in dmesg and messages.

[code]

I see that you are not working in this module anymore, so I've found another soluti

[2016-02-18 15:58] neilstuartcraig opened #7 "Update for newer nginx versions?"
Hi @GUI

This looks like the perfect module to fit my needs but it won't compile against nginx 1.9.11 current latest). I just wondered if you have any plans to support newer builds?

Cheers
Neil

[2016-02-19 17:21] GUI commented on #7
I'm afraid I'm not actively using this module at the moment, so I unfortunately won't have time to look into updating it. However, I'd be more than happy to accept any pull requests or new maintainers.

And this might not be too relevant for your usage, but simply for reference, on my [current project](https://github.com/NREL/api-umbrella), I'm achieving dynamic DNS handling in OpenResty with the

[2016-03-03 03:02] wandenberg commented on #4
It is working with 1.7.10, at least with this [branch](https://github.com/wandenberg/nginx-upstream-dynamic-servers)

[2016-03-03 03:44] #1 closed

[2016-03-03 03:44] #6 closed

[2016-03-03 03:47] GUI commented on #4
Thanks to @wandenberg's efforts, the sporadic segfaults fixes should now be on master. Thanks @wandenberg! Let us know if you're still seeing any issues, though.

[2016-03-03 03:47] #4 closed

[2016-03-03 03:48] GUI commented on #1
Thanks to @wandenberg's recent contributions, this should hopefully be resolved now. Give a shout if not.

[2016-03-03 03:50] GUI commented on #6
@erickfaustino: As a heads up, @wandenberg recently fixed some segfault issues. So if you're still interested in using this module, things should hopefully be fixed now thanks to @wandenberg's great work.

[2016-03-07 19:03] #2 closed

[2016-03-07 19:03] #7 closed

[2016-03-17 07:16] gfrankliu opened #12 "Can't disable IPv6 (AAAA record)"
I set the ipv6=off to the resolver as documented here:
http://nginx.org/en/docs/http/ngx_http_core_module.html#resolver
but it seems you are still getting both A (IPv4) and AAAA (IPv6) records from DNS resolver.

[2016-03-17 07:21] gfrankliu opened #13 "Too many reloads"
ps -ef seems to show nginx workers get reloaded every time when DNS TTL expires. People would normally set TTL low but this would cause lots of unnecessary reloads even if there is no change. Is it possible to add a check so that if the results from the new lookup matches existing, just update the timer and ignore the new lookup results?

[2016-03-17 07:48] gfrankliu commented on #3
SRV seems like a good idea if it can be added.
SkyDNS https://github.com/skynetservices/skydns , Consul https://www.consul.io/docs/agent/dns.html etc can be used as DNS server with service discovery. SRV record provides IP:PORT and weight information. Consul can have advanced health checks so the "dead" server can be marked down, and its IP won't be returned to the resolver.

[2016-03-17 10:14] whatvn commented on #13
sounds like segment fault

[2016-03-17 21:34] gfrankliu commented on #13
Checked the error_log and that is indeed the case. Filled with those errors:

2016/03/17 21:18:11 [alert] 4378#0: worker process 4403 exited on signal 11
2016/03/17 21:18:17 [alert] 4378#0: worker process 4404 exited on signal 11
2016/03/17 21:18:17 [alert] 4378#0: worker process 4408 exited on signal 11
2016/03/17 21:18:18 [alert] 4378#0: worker process 4409 exited on signal 11
2016/03/17 21:18:2

[2016-03-18 08:07] millken opened #14 "can work with dyups?"
https://github.com/yzprofile/ngx_http_dyups_module

[2016-03-21 02:26] wandenberg commented on #13
Hi @gfrankliu
can you check if this [branch](https://github.com/wandenberg/nginx-upstream-dynamic-servers/tree/check_issue_13) solves the problem?
The nginx-upstream-dynamic-servers module was loosing reference to other modules when trying to reinitiate the upstream configuration.

[2016-03-21 03:47] gfrankliu commented on #12
I compiled with --with-ipv6
[code]

and here is part of the config
[code]

I started tcpdump watching port 53 before starting nginx. I can see that nginx will first use local /etc/resolv.conf name servers to query A of www.yahoo.com and AAAA of www.yahoo.com. I assume both IPv4/IPv6 results will be stored in nginx for upstream access.
Then, nginx actually started using 8.8.8.8 (as defined in "reso

[2016-03-21 03:47] gfrankliu commented on #13
Thanks @wandenberg
It is getting better now. I did:
[code]

and the config:
[code]

Now it is crashing with different errors if I access the site:
[code]
I think it is related to https://github.com/GUI/nginx-upstream-dynamic-servers/issues/12

Then I tried without --with-ipv6
[code]
and the config
[code]
Every request to the site still crashes:
[code]

[2016-03-21 03:57] gfrankliu commented on #14
If DNS SRV record support can be added https://github.com/GUI/nginx-upstream-dynamic-servers/issues/3 , we may not need the dyups. When a new upstream server is added/removed, a request can be sent to update the DNS server (e.g.: Consul https://www.consul.io/ ) with DNS SRV record for IP, port, weight, etc. DNS server can even do health checks against the upstream (https://www.consul.io/docs/agent

[2016-03-22 03:07] wandenberg commented on #13
Hi @gfrankliu
I will focus on ipv6 issue later.
Considering only the ipv4 I think there isn't anything I can do to solve the integration problem with ngx_http_upstream_check_module module on nginx-upstream-dynamic-servers side.
As far as I could follow the problem, seems that it only initialize the peer shm pointer on this [line](https://github.com/yaoweibin/nginx_upstream_check_module/blob/master

[2016-03-22 03:17] wandenberg commented on #14
@millken for now the module only check DNS changes of servers configured on conf file at startup time, there is no integration with modules like dyups.
I think that can be done in the future.

@gfrankliu I don't know much about DNS SRV record, neither about nginx DNS queries internals, but I'm pretty sure that nginx does not support it, and since we use the core functions to discover the IPs, the

[2016-03-22 03:28] wandenberg commented on #12
@gfrankliu are you sure that it still using the ipv6 record after you set it to off?
Testing here when I set ipv6 to off it only use the ipv4 entries
[code]

when I changed it to on
[code]

Please test it again without using any other module, including nginx_upstream_check_module.
May be it is another module that cached the "wrong", not necessarily  nginx-upstream-dynamic-servers

[2016-03-22 03:44] gfrankliu commented on #12
See my ./configure command above, I didn't enable any other modules.
In your test, can you start tcpdump in one window: sudo tcpdump -A -i any port 53
and then start nginx in another window.
Watch the tcpdump window and you will see the very first few DNS requests go to the dns server as defined in /etc/resolv.conf, NOT as defined by "resolver". You will see the query is to ask both A and AAAA rec

[2016-03-22 03:49] gfrankliu commented on #12
If I have a special DNS server for nginx which I define using "resolver", the normal name servers from /etc/resolv.conf may not even be able to resolve the upstream name. What will nginx do? Is there a way we can stop nginx from using /etc/resolv.conf for this module?

[2016-03-22 04:27] gfrankliu commented on #13
I have opened issue https://github.com/yaoweibin/nginx_upstream_check_module/issues/89 but got no reply so far.
See my comment https://github.com/GUI/nginx-upstream-dynamic-servers/issues/12 regarding IPv6. I think the IPv6 addresses was added by nginx during the very first DNS queries. Though all later DNS queries didn't do AAAA query for IPv6 address, it had already been added, and giving "damag

[2016-03-22 04:38] gfrankliu commented on #14
In nginx src/core/ngx_resolver.h, I see
[code]
I assume we can patch and add NGX_RESOLVE_SRV ?

Once we get the IP, port, weight information from the DNS resolver, we can store them for nginx to use, for upstream connection?

[2016-03-24 03:04] wandenberg commented on #12
Hi @gfrankliu
If I not misunderstood your question, the first DNS query will fail, and set the server as down. As soon as the query is done to "resolver"server instead of /etc/resolv.conf servers it will set the server as "up", considering that the "resolver" returned a valid IP.
Is a big issue to have this very first query using the AAAA record?
To avoid this, we will have to redo some Nginx core

[2016-03-25 05:07] gfrankliu commented on #12
During my test, I saw once the first DNS query got the AAAA record and added to upstream pool, along with the A record, it never got removed by subsequent DNS queries . I guess since the later DNS queries only got A records so only they got updated. AAAA address was left alone.

[2016-03-25 18:24] wandenberg commented on #12
@gfrankliu
as far as I can see the workflow is
- the first DNS query done by ngx_parse_url get A and AAAA record and set both as usable
- the second DNS query done by ngx_resolve_name use the resolver and get only the A entry, updating the upstream configuration to only use the new entry.

To avoid use the first AAAA entry we must do custom DNS query functions or to set the server as down until de

[2016-03-28 03:56] gfrankliu commented on #12
The first DNS happened probably because we used "server" directive that triggered nginx default dns lookup behavior. Maybe we should use a new directive like what jdomain does.

In my test, I saw the second DNS query only updated the IPv4 addresses of the upstream configuration but left IPv6 alone, maybe because the second query didn't get any IPv6 addresses since we disabled IPv6.

[2016-03-28 12:44] wandenberg commented on #12
@gfrankliu we don't use the default "server" directive, the name is the same but the implementation not.
The first AAAA query is caused by the ngx_parse_url function call.
The second DNS query does not "update" the entries, it replace them.
Because of that I asked if that first query is a big issue, since the ipv6 it got will not be used in fact.

[2016-03-29 03:54] gfrankliu commented on #13
It seems there are some new update to the code, so I cloned https://github.com/GUI/nginx-upstream-dynamic-servers.git and tested again:

1) ./configure --add-module=nginx-upstream-dynamic-servers --add-module=nginx_upstream_check_module --with-ipv6
This still fails due to the first DNS query getting AAAA record though "resolver" has "ipv6=off" as discussed in https://github.com/GUI/nginx-upstream-

[2016-03-29 03:59] gfrankliu commented on #12
See my last comment in https://github.com/GUI/nginx-upstream-dynamic-servers/issues/13 , it seems the AAAA response from the first dns query got stuck in the upstream list even though the second dns didn't get AAAA record. This causes nginx worker crashes even after the second dns query.

[2016-03-29 11:40] wandenberg commented on #13
@gfrankliu as I said before the crash you are having isn't from the nginx-upstream-dynamic-servers.
The problem is on nginx_upstream_check_module that was not designed to have the server/IP list updated.
You will have the same problem compiling the nginx without the ipv6 support.
As I wrote on my last answer on #12, the IPs list are not "updated" it is "replaced" after each change the module detec

[2016-03-29 11:44] wandenberg commented on #12
@gfrankliu please, do not mix the issues. The actual crash on #13 is a problem with another 3rd party module (see my [comment](https://github.com/GUI/nginx-upstream-dynamic-servers/issues/13#issuecomment-202844387)).
Are you having any issue if you compile nginx only with this module?
The ipv6 from the first query is receiving requests after the module update the servers list?

[2016-04-01 06:06] gfrankliu opened #15 "failed compile with nginx-1.9.13"
./configure --add-module=nginx-upstream-dynamic-servers
make
...
[code]

[2016-04-04 02:16] wandenberg commented on #15
I couldn't reproduce the problem. Which gcc version are you using?

[2016-04-04 02:18] gfrankliu commented on #15
It's centos 6. I'm not on the computer right now to check the exact gcc version that comes with latest centos 6.

[2016-04-04 04:51] gfrankliu commented on #15
gcc-4.4.7-16.el6.x86_64

[2016-04-07 01:27] wandenberg commented on #15
@gfrankliu can you test this [version](https://github.com/wandenberg/nginx-upstream-dynamic-servers/tree/nginx_1_9_13) ?
it should compile and run normally

[2016-04-07 04:18] gfrankliu commented on #15
same error on cents 6.
tar zxf nginx-1.9.13.tar.gz
cd nginx-1.9.13
git clone https://github.com/wandenberg/nginx-upstream-dynamic-servers.git
./configure --add-module=nginx-upstream-dynamic-servers
make

[2016-04-07 10:47] wandenberg commented on #15
You picked the wrong version. The link target to nginx_1_9_13 branch, not to master.
Retry after checkout to it, please.

[2016-04-07 16:43] gfrankliu commented on #15
switched to the nginx_1_9_13 and it is working. Thanks!

[2016-04-12 03:11] #15 closed

[2016-04-12 04:11] gfrankliu commented on #14
Here's one example, though using lua:
https://github.com/vlipco/srv-router

[2016-04-12 04:19] gfrankliu opened #17 "Adding health check"
There are a few upstream health check modules but they don't seem to work with nginx-upstream-dynamic-servers since they were not designed to have the server/IP list updated. This would cause nginx crashing as discussed in https://github.com/GUI/nginx-upstream-dynamic-servers/issues/13

Recently I noticed a fork https://github.com/xiaokai-wang/nginx_upstream_check_module that supports changing ser

[2016-04-14 19:29] gfrankliu commented on #14
Looks like nginx itself now supports SRV using "service" along with "resolve"  in upstream server config:
http://nginx.org/en/docs/http/ngx_http_upstream_module.html#service

Here is the new nginx-1.9.13/src/core/ngx_resolver.h

[code]

I can see `#define NGX_RESOLVE_SRV       33` is added.

[2016-04-26 07:33] h17liner commented on #3
+1  to resolve SRV.

[2016-04-26 17:56] gfrankliu commented on #3
As I mentioned https://github.com/GUI/nginx-upstream-dynamic-servers/issues/14#issuecomment-210112145 , nginx 1.9.13 onwards now made it easier to support SRV.

[2016-07-06 17:41] rohitjoshi opened #18 "Worker process stuck in infinite loop when keepalive is enabled"
When keepalive is enabled along with Nginx-upstream-dynamic-servers resolve module,  worker process goes into the infinite loop in ngx_http_upstream_keepalive_module module.
If I disable `nginx-upstream-dynamic-servers`, it issues.

nginx version: 1.9.15

[code]

Here is code from which it not able to come out from this for loop:

[code]

As you can see below, q->next and cache->next is never null

[2016-07-07 13:17] wandenberg commented on #18
@rohitjoshi can you provide a minimal configuration file and the nginx -V that make this error be reproducible?

[2016-07-07 18:20] peterhanneman opened #20 "Build failures w/ Nginx 1.11.2"
Been using this module on a production reverse proxy for 6+ months now without issue.  Unfortunately now I can't get this module to compile against the latest Nginx 1.11.2.  I know for a fact is worked with 1.11.1 w/ an unknown older commit hash but I sadly deleted the old build directory prematurely.

Trying to compile against tag v0.3.0 & v0.4.0 both yield:

[code]

Trying to compile against the

[2016-07-07 19:22] rohitjoshi commented on #18
Please see the config below.  Unfortunately, we could not reproduce in dev/QA environment but it happened twice in the production.

nginx -V:

[code]

Upstream contains total 39 entries with each having one server as below and keealive set to 2.
There is one entry ``xx_cloud_vip` with two hosts.

[code]

Nginx Config:

[code]

[2016-07-09 07:48] pgokul commented on #18
We were having the same issue with nginx 1.91.5 and nginx-upstream-dynamic-servers resolve module version 0.4.0.
Issue was easily reproducible if we hit the server continuously with moderately expensive api calls(each api call taking around 15 secs to complete)
All worker process were maxing cpu at 100%.
connecting gdb showed a stack trace of

[code]

output of nginx -V

[code]

config is has 8 up

[2016-07-09 21:51] wandenberg commented on #20
@timelessvirtues the tags v0.3.0 & v0.4.0 really don't work with later versions of nginx but the master commit does.
Try to do a clean setup, probably your local repository is with some wrong reference.
I just did this here and worked fine.

[code]

[2016-07-09 21:51] #20 closed, assigned to nobody

[2016-07-10 00:04] wandenberg commented on #18
@rohitjoshi and @pgokul
can you confirm if that the master version [29e05c5de4d](https://github.com/GUI/nginx-upstream-dynamic-servers/commit/29e05c5de4d9e7042f66b99d22bef878fd761219) solves the problem?
If it does not solve can you help me providing a simple configuration and a script which reproduce the problem?

[2016-07-10 03:54] rohitjoshi commented on #18
@wandenberg thanks for the patch.  Unfortunately, I could not reproduce this issue earlier in dev/qa environment. We observed this issue in prod both the time and had to disable this feature.  I will try and see if we can apply this patch and push to prod but might take a week.

Should we be using `ngx_resolve_name_locked` instead of `ngx_resolve_name`?

[2016-07-10 14:11] wandenberg commented on #18
The `ngx_resolve_name` function calls `ngx_resolve_name_locked` on its internals.
I avoid as much as possible to call specific functions of nginx. As example, ngx_resolve_name does some checks we should do if choose to call ngx_resolve_name_locked directly.

[2016-07-10 15:09] peterhanneman commented on #20
For some reason your module has an issue compiling w/ the NAXSI web application firewall module.

Moving the NAXSI's --add-module to _before_ your module's fixed the issue.  Quite bizarre behavior but thanks for your time.

Works:

[code]

Does not work:

[code]

[2016-07-11 06:41] JanJakes commented on #18
I'm not sure if it's related, but we've observed a similar problem in our production environment - after some time one Nginx worker always took 100% of one CPU core and never went back until server restart. This also happens with the latest master (patch 29e05c5de4d applied) and never happens without this plugin. (It's kind of hard to debug/replicate this issue since it often happened after a coup

[2016-07-11 14:00] pgokul commented on #18
@wandenberg  We are able to reproduce the issue in our QA environment consistently and applying the patch seems to fix the issue for us. We are still testing different scenarios though. As of now it seems fine.

[2016-07-12 01:34] rohitjoshi commented on #18
@JanJakes we have the same similar problem. As you can see in my above post, due to end of link list overwritten by one of the node pointer, it goes into infinite loop.

[2016-07-12 02:08] wandenberg commented on #18
@pgokul Can you share how to replicate the problem with us?
I can try to create a test case with it and ensure that the bug will not happens again.

[2016-07-12 02:23] pgokul commented on #18
@wandenberg - We were able to replicate the issue by hitting the nginx server continuously with requests for an upstream endpoint which took around 20-30 secs to complete the call.
keepalive is on and proxy_buffering is set to the default value. All requests have no caching.

upstream block

[code]

nginx conf

[code]

[2016-07-12 07:53] JanJakes commented on #18
Just a note - we are **not** using the `keepalive` directive in `upstream` but we still get the 100% CPU after some time of traffic. (Update: But we do have `keepalive_timeout 65;` in the `http` section.)

[2016-07-20 12:38] rohitjoshi commented on #18
Any update on this?  Thx

[2016-07-20 13:01] wandenberg commented on #18
Not yet. I need someone help to reproduce the problem, or at least a working configuration similar with the environment where you are having the problem, including the backend application, since the code you point as the loop problem is only used when the nginx caches the request to the backend.
I  was not able to find out when it do that.

[2016-07-20 16:50] rohitjoshi commented on #18
I could not reproduce in our QA environment but if we disable keepalive in upstream, we do not see any issue. This module work fine but increased latency by 100ms because it creates connection per request. So it is Nginx caching the connection and this module combined causes this issue.

[2016-07-20 18:14] wandenberg commented on #18
@rohitjoshi just to clarify, the module does not create the connections. You would have the same 100ms latency if not using it. By default nginx create a connection to backend each time it has to forward a request.
Using keepalive surely increase the performance and apparently combining keepalive and the module causes the issue. But as I said only enabling the keepalive does not cause the issue si

[2016-08-02 13:14] kipras commented on #18
Hey all, we are experiencing the same issue, on version 29e05c5de4d9e7042f66b99d22bef878fd761219

[2016-08-02 13:23] wandenberg commented on #18
@kipras I was able to force the nginx execute this piece of code. This is the first step to reproduce and fix the problem. Give some more days.
If you have any other information to add to solve the problem, send to us please.

[2016-08-02 14:09] kipras commented on #18
@wandenberg did you manage to reproduce this issue consistently? If so - how?
I would try to help debugging this issue, if i could reproduce it.

[2016-08-02 14:51] wandenberg commented on #18
The issue not yet. I was able only to make the nginx execute the code @rohitjoshi pointed out.
As soon as I consistently reproduce the problem I will post here.

[2016-08-05 18:46] jsoverson commented on #18
Hi @wandenberg, any updates? I just want to make sure we're not too far behind in our troubleshooting efforts if you have any new information. Thanks so much for your work so far.

[2016-08-10 04:38] wandenberg commented on #18
@jsoverson I was not able to reproduce the infinite loop reported by @rohitjoshi but I was able to reproduce another situation related with keepalive module where a segfault happens after some changes on DNS address while Nginx receive one request per second.

Questions to those who are having this issue of infinite loop:
- how many servers are in your upstream?
- how many IP address each of these

[2016-08-10 22:26] dgmoen commented on #18
@wandenberg here are some more details. We modified a [fake DNS server implemented in Python](http://code.activestate.com/recipes/491264-mini-fake-dns-server/) to randomly choose between two addresses (localhost and a private IP, in our case) and set a very low TTL (1 second).

Also:
- we have one server in the upstream
- we have two IP addresses for these servers (see above)
- IP addresses cycle

[2016-08-10 22:33] rohitjoshi commented on #18
We have 15 upstream entries with keepalive set to 1. Each server has two IP addresses. Both these IPs are rotated in a round robin fashion every 30sec.

 Three of these upstream entries have two servers F5 and AWS ELB with round robin based routing. Both F5 and AWS ELB returns two or more IPs.

[2016-08-11 01:13] wandenberg commented on #18
@dgmoen this was the scenario that I reproduced, the segfault due to previous_pool cleanup.
But the original issue is a infinite loop. This one I couldn't reproduce yet.

@rohitjoshi can you modify a little bit you configuration trying to isolate the problem?
If possible, would be nice let all upstream configurations only with one server.
This way we will know if the problem only happens with mult

[2016-08-11 03:00] rohitjoshi commented on #18
We are not able to reproduce in our Dev/QA environment but looking at the backtrack on a process which was stuck in infinite loop, it was using F5 with multiple IP and keepalive was enabled.
I believe it is the same use case described by @dgmoen. In our case, F5 returns different IP every 30 sec.

[2016-08-12 10:17] kipras commented on #18
I think we fixed this issue in our environment, by patching the keepalive module (scroll down for the patch).

The thing is that this dynamic servers module reinitializes an upstream, after one of the upstream servers DNS resolution changes. That calls `ngx_http_upstream_init_keepalive()` for upstreams that have "keepalive" enabled. Keepalive initialization then allocates the keepalive connection

[2016-08-12 15:07] marcelomd commented on #18
@kipras Nice analysis.

[2016-08-12 22:28] rohitjoshi commented on #18
@thanks for finding the issue. Does this impact only keepalive module or we need to patch round robin /hash modules as well?

[2016-08-14 18:03] ariya commented on #18
Rather than patching keep alive, round-robin hash, and other modules, IMO the real fix is to ensure that this module does not mess with the memory allocations. See pull request #21.

[2016-08-14 21:41] rohitjoshi commented on #18
@dgmoen If you are able to reproduce this issue, would you mind trying PR https://github.com/GUI/nginx-upstream-dynamic-servers/pull/21

[2016-08-15 16:48] dgmoen commented on #18
@rohitjoshi, we've tested the fix from @ariya, and it does resolve the 100% CPU issue as well as the segmentation fault we've been experiencing. However, as @wandenberg noted, it does also leak memory. For the time being, we're managing this by periodically reloading the nginx workers.

Not an ideal solution, but much better than the currently available alternatives.

[2016-08-15 16:56] rohitjoshi commented on #18
@dgmoen thanks for validating. I have switched to `balancer_by_lua_block` (https://github.com/agentzh/lua-resty-balancer/) so will have to reconfigure to use Nginx based upstream.

[2016-09-01 10:12] sdurrheimer opened #22 "Error log spamming"
Hi there,

When a upstream DNS name doesn't respond, the module use a null route with the IP `127.255.255.255`, but when the upstream is back online, the module keep logging the following error:

[code]

Is there a way to avoid this ?

Thanks in advance,

[2016-09-11 05:45] yangshuxin commented on #18
I believe line 528 is problematic.

[code]

I can come up a contrived scenario:  suppose at the moment statement 528 is called,  there is at least one active request,  say request r1. While the pointer p = `ngx_http_upstream_t->peer->data` of this request still valid,
the `((ngx_http_upstream_rr_peer_data_t*)p)->current` and other fields instantaneously become invalid.

By the time the r1 finishes

[2016-09-12 22:44] yangshuxin commented on #18
I spot another potential problem over here (it is unlikely take place though)

[code]

If error take place, we proceeds as if nothing have happened.

[2016-09-14 05:36] yangshuxin commented on #18
I realized a new problem after I come up a fix to the segfault problem: keepalive is initialized again and again; each time it's initiaized it simply clobber its cached connections without disconnecting them; overtime it will accumulate far more connections than the "keepalive" specifies.

Now I understand why keepalive suffers from memory access as well, looks like people  has analyzed before (Ap

[2016-09-20 18:47] yangshuxin commented on #18
typo at line 561? I think it make more sense to set the timer interval to`referesh_in` than the constant 1000ms.

[code]

[2016-11-05 20:34] rohitjoshi commented on #18
As a workaround, I have fixed the issue using running external python script to periodically resolve dns for upstream host and if IP address changes, it reloads nginx.

https://github.com/rohitjoshi/reload-nginx

[2016-11-17 17:24] milgner opened #23 "Nginx 1.10 compatibility"
Right now this module is unfortunately incomptabible with version 1.10 of Nginx.

[code]

The problem here is that they introduced a separate type [ngx_resolver_addr_t](https://github.com/nginx/nginx/blob/833d03a0a2f9fa62de0f347a08c36a787bcdd8e2/src/core/ngx_resolver.h#L61) that is incompatible to `ngx_addr_t`. I don't have any experience with the Nginx source so I'm not sure whether there are any

[2017-02-10 15:20] neilstuartcraig commented on #18
Hi all

I have what I think is the same issue here. I can reproduce the situation where NGINX uses 100% CPU every time so i'd be happy to try to provide whatever debug info you need.

My setup:
Custom NGINX build based on 1.11.9, running on CentOS 7
Reverse proxy mode, TLS in and out
Local DNS resolver (bind, running on 127.0.0.1:53) configured as a fully recursuve resolver
Single upstream server

[2017-02-10 15:48] neilstuartcraig commented on #18
Just adding some output from `perf top` during the problem:

[code]

[2017-02-10 16:21] neilstuartcraig commented on #18
I just found that updating to latest `nginx-upstream-dynamic-servers` has cured my issue, very happy about that! Apologies if the above is spammy.

[2017-03-24 07:53] eranshpiner opened #24 "The 'resolve' operation keeps timing-out even after DNS service recovers"
Hi,

I've been using this module within nginx 1.11.2.2 and it's working great! Thanks!

The one thing I've encountered and can't seem to overcome, it that whenever the DNS service "hiccups" for some reason - e.g. it becomes temporarily unavailable for a short while, then the resolve operation starts timing-out continuously, and no longer succeeds, even after the DNS service recovers. It's like the

[2017-04-22 21:37] wandenberg commented on #23
@milgner this was fixed on this commit [29e05c5de](https://github.com/GUI/nginx-upstream-dynamic-servers/commit/29e05c5de4d9e7042f66b99d22bef878fd761219)
Use the master branch, please.

[2017-04-22 21:37] #23 closed, assigned to nobody

[2017-04-22 22:17] wandenberg commented on #22
@sdurrheimer can you confirm if when you saw this behaviour you were using the `keepalive` directive or not?
Can you provide more log lines? And if possible, how to reproduce the error?
I tried to reproduce, but was not well succeeded.

[2017-07-20 15:16] sgohl opened #25 "package for ppa:hda-me/nginx-stable/ubuntu"
Do you mind to contribute a nginx-module package for dynamic installation from
[code]
...or anywhere else ...
Currently I can not use a compiled version of nginx but need this module (having not-resolvable upstream hosts at startup)

would be great!

[2017-10-09 19:08] RohanNagar opened #26 "Breaks Nginx Stream Module"
When I compile this module with the nginx [stream module](http://nginx.org/en/docs/stream/ngx_stream_core_module.html), which is available since 1.9.0, the stream module breaks. Multiple stream tests are failing and resulting in seg faults.

I can try to fix this myself, but if anyone is still active I would appreciate some insight into why you think this might be happening.

I'm on version 1.13.5

[2017-10-09 22:00] wandenberg commented on #26
Hi @RohanNagar, I'm trying to fix some known bugs/segfaults in this module.
Can you explain the tests that you are doing? Or even better, provide a vagrant/docker/script where the bug can be easily reproduced?

[2017-10-09 22:36] RohanNagar commented on #26
@wandenberg I am compiling Nginx 1.13.5 with this module, and the additional configure flags of

`--with-stream --with-stream_ssl_module`

I'm then running the core nginx tests found [here](https://github.com/nginx/nginx-tests). Almost all of the `stream` tests are failing.

Honestly, I'm not too sure what these tests are testing, I'm still new to Nginx. However it does seem like there are memory

[2017-10-10 17:25] wandenberg commented on #26
Would be good to have a script.
Have you tried to run the tests without the module?

[2017-10-10 17:30] RohanNagar commented on #26
Yes, the tests pass without the module. I will put a script together for you soon.

[2018-02-19 05:10] jstangroome commented on #18
I've been using the (currently) latest 29e05c5de4d9e7042f66b99d22bef878fd761219 commit on master and hit this same issue with an upstream that had a very low DNS TTL and changed IP regularly. CPU usage went very high, systemtap showed time was spent in the same call stack shared by others above, and occasional core dumps from segmentation faults also shared the call stack with those above.

I was

[2018-04-19 09:13] linsichen206 opened #29 "Core dump when I use this module"
When I try to use this module, it core dump.(nginx version 1.13.11)
hope to receive a reply.
Configure as follows:
http {
    resolver 127.0.0.1:53;
    upstream tcp_test {
        server appa.service.consul:3307 resolve;
    }
    server {
        listen 8888;
        #proxy_pass tcp_test;
        location / {
            proxy_pass http://tcp_test;
        }
    }
}
Error log as follows:
2018/04

[2018-07-17 16:44] eriede opened #30 "Worker crashes when using S3 / sites with very short DNS TTL"
When a worker process connection times out after 2 * the DNS TTL period has passed the worker process may crash. (nginx 1.12).  AWS S3 has a very short DNS timeout and exhibits the issue.

The issue is that the peer data structure is accessed after the  dynamic server releases the peer.

I have created a patch which uses reference counting on active requests instead of the interleaving scheme curr

[2019-01-24 16:30] mrobinet commented on #29
We switched off of this in favor of jdomain for this same reason. It would core dump and then ips would go stale as DNS resolution was no longer being updated.

[2019-02-28 13:27] marc-barry commented on #29
By `jdomain` do you mean this one? https://github.com/wdaike/ngx_upstream_jdomain

[2019-02-28 17:23] mrobinet commented on #29
Yes, that is the one.

[2019-04-12 10:48] anshul291995 opened #32 "Nginx unable to start with a domain name that cannot be resolved"
Hi, I was under the impression that this module allows nginx to startup even when domain name can not be resolved ; but for some reason I am not able to reproduce this.

My  upstream configuration is:
[code]

I get this error on reload: nginx:

`[error] host not found in upstream "www.bfdbjdfvlkfdkjfdk.com:80" in /etc/nginx/nginx.conf:165`

I am, maybe, missing a ton here. Can someone please help

[2020-06-21 02:02] zhaofeng0019 commented on #32
i think a have solve the domain problem, would you like to try this ?

https://github.com/zhaofeng0019/nginx-upstream-dynamic-resolve-servers

by the way, this module may should not used with upstream_check module, it may cause some memory problems.

[2020-06-21 04:46] zhaofeng0019 commented on #30
i think your solution may cause memoy leak when there are  requests can't end during a TTL -- the previous pool can't be free. And may not solve the memory crash when using upstream keepalive.
i think i may solve the problem
https://github.com/zhaofeng0019/nginx-upstream-dynamic-resolve-servers
and this solution is doing some references to your solution.
would you like to check it out? thanks a lo

[2020-06-21 04:53] zhaofeng0019 commented on #29
i think i have solve this problem.
would you like try my module or check it out for me?
thanks a lot
https://github.com/zhaofeng0019/nginx-upstream-dynamic-resolve-servers

[2020-06-21 04:54] zhaofeng0019 commented on #18
i think i have solve this problem.
would you like try my module or check it out for me?
thanks a lot
https://github.com/zhaofeng0019/nginx-upstream-dynamic-resolve-servers

[2020-06-22 04:30] eriede commented on #30
It's been a long time from when I looked at this last.  You are correct that it does not address the keepalive problem.   I remember doing some updates to add keepalive features that I haven't updated.  I think it used the connection's pool instead of the request to extend the lifetime.

I requested permission from the open source committee for that change too. I think I did get permission, but I

[2020-06-22 07:13] zhaofeng0019 commented on #30
or would you please see my pull request for this project? it solves all the memory problem and works well.

[2020-06-22 07:40] eriede commented on #30
The solution that you're proposing is similar, using the cleanup hooks on the connection pools as a connection closed callback.  It will probably work similarly. 
The drawback I found that this strategy is that it only worked on the round robin lb option, and caused crashing on the other lb keepalive strats, at least on 1.12. Were you able to get the other lb options to work?  If so which version

[2020-06-22 13:14] zhaofeng0019 commented on #30
you can see that in native nginx code , all the lb option will use round robin finally, including keepalive,
so you can see in my code, i only do ngx_http_upstream_init_round_robin function when the dns result changed, you can just save the function pointer of other lb option at the init_process function.

[2020-06-22 13:16] zhaofeng0019 commented on #30
if do in this way, support all the native nginx lb option, no crash, i tested.

[2020-06-22 17:04] eriede commented on #30
I uploaded our keepalive solution that only works for round robin lb with 1.12, to get it out in the public domain.  https://github.com/eriede/nginx-upstream-dynamic-servers/tree/round-robin-keepalive.   I'm happy to do a code review on your code if you would like,  but I don't have the time to do testing on the various nginx versions,  so I can't accept pull requests.

[2021-07-07 19:42] irumman opened #34 "CPU load goes high"
Hi,

I am using this nice module to enable dynamic upstream resolver with keepalive.

Here is my upstream configuration:

[code]
My Nginx is running in front of Consul which is acting as a dns resolver. The system works fine until I see the following error:

`[error] 84#84: upstream-dynamic-servers: 'active.vault.service.consul' could not be resolved (3: Host not found)`

Though everything was up

[2021-07-08 00:42] starjun commented on #34
nginx plus can use  or nginx-upstream-dynamic-servers

nginx plus：https://www.nginx.com/products/nginx/load-balancing/
nginx-upstream-dynamic-servers：https://github.com/GUI/nginx-upstream-dynamic-servers

not free nginx

[2021-12-28 08:46] Vladislavik commented on #12
problem still exist, how to fix it? ipv6=off not helped, nginx reequest ip6 address

[2022-04-10 09:34] waitspring commented on #23
Did this commit has been published in a new release?

[2022-04-11 00:55] waitspring opened #35 "Did this commit has been published in a new release?"
Did this commit has been published in a new release?

_Originally posted by @waitspring in https://github.com/GUI/nginx-upstream-dynamic-servers/issues/23#issuecomment-1094229382_

[2022-08-16 10:34] #35 closed, assigned to nobody